<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' type='text/css' media='screen' href='../style/formstyle.css'>
      <script>scr="script.js"</script>
      <title>Formulário</title>
   </head>
   <body>
      <div class="cadastro">
      <form method="post" action="/pessoas/criar">
         <div>
            <h3>Nome:</h3>
            <input id="nome" name="nome" type="text"
            placeholder="Digite seu Nome" />
         </div>
         <div>
            <h3>Sobrenome:</h3>
            <input id="sobrenome" name="sobrenome" type="text"
            placeholder="Digite seu Sobrenome" />
         </div>
         <div>
            <h3>Altura:</h3>
            <input id="altura" name="altura" type="text"
            placeholder="Digite sua Altura" />
         </div>
         <div>
            <h3>Idade:</h3>
            <input id="idade" name="idade" type="number"
            placeholder="Digite sua Idade" />
         </div>
         <input class="fill" type="submit" value="Enviar"/>
      </form>
   </div>
   </body>
</html>